<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block page_css %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}">Projet claqué d'Arthur</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('projet_claque') }}">Projet Claqué</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projet_claque/test">Test Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">À Propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://drive.google.com/drive/u/0/folders/1q7klryO0WbtECSXboOmN42BWLoT-FzPR">Drive</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}

        <div class="footer">
            <div class="footer-content">
                <b>GInfo</b> 2021 - <a href="https://alouradou.perso.centrale-marseille.fr/">Arthur Louradou</a> -
                <a href="/about">Mentions légales</a> - <a href="">Données personnelles</a> - <a href="https://wiki.centrale-marseille.fr/ginfo/">Documentation</a>
            </div>
        </div>

        <div id="app-notifs">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="notif" data-type="{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block page_js %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
